*{
    margin: 0;
    padding: 0;
    font-family: 'Amiri', serif;
}
/* Header area style */
.header-area{
    background-image: url(../img/back-1.png);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 720px;
}
.navbar{
    padding: 0px 30px;
}
nav.sticky{
    padding: 0px 30px;
    background-color: #c22d72 !important;
    opacity: 1;
    transition: 0.5s all;
    
}

.navbar-brand{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff !important;
    letter-spacing: 1px;
    margin: 0;
}
.nav-item{
    padding-left: 15px;
}
.nav-link{
    color: #ffffff !important;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 0px !important;
    
}
/* .nav-link.active{
    border-bottom: 2px solid #d4c3c3;
} */
#home::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 65px;
    top: 60px;
    left: 333px;
    right: 0;
    color: #ac9ca3;
}
#home:hover::after{
    transform-origin: left !important;
    border-bottom: 3px solid #e43385 !important;
    transition: .3s ease-in !important;
    transform: translateX(40%) !important;
}
#about::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    top: 60px;
    left: 30%;
    right: 0;
    color: #ac9ca3;
    
}
#about:hover::after{
    
    transform-origin: left !important;
    border-bottom: 3px solid #e43385 !important;
    transition: .3s ease-in !important;
    transform: translateX(40%) !important;
}
#services::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    top: 60px;
    left: 37%;
    right: 0;
    color: #ac9ca3;
}
#services:hover::after{
    transform-origin: left !important;
    border-bottom: 3px solid #e43385 !important;
    transition: .3s ease-in !important;
    transform: translateX(40%) !important;
}
#portfolio::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    top: 60px;
    left: 610px;
    right: 0;
    color: #ac9ca3;
}
#portfolio:hover::after{
    transform-origin: left !important;
    border-bottom: 3px solid #e43385 !important;
    transition: .3s ease-in !important;
    transform: translateX(40%) !important;
}
#testimonial::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 110px;
    top: 60px;
    left: 710px;
    right: 0;
    color: #ac9ca3;
}
#testimonial:hover::after{
    transform-origin: left !important;
    border-bottom: 3px solid #e43385 !important;
    transition: .3s ease-in !important;
    transform: translateX(40%) !important;
}

#contact::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    top: 60px;
    left: 863px;
    right: 0;
    color: #ac9ca3;
}
#contact:hover::after{
    transform-origin: left !important;
    border-bottom: 3px solid #e43385 !important;
    transition: .3s ease-in !important;
    transform: translateX(40%) !important;
}



.font-icon i{
    font-size: 28px;
    padding-left: 18px;
    color: #ffffff
}
.header-text{
    margin-top: 180px;
    color: #ffffff;
    padding-left: 40px;
}
.header-text strong{
    /* color: #f63790; */
    color: hsl(182, 94%, 53%);
    font-size: 60px;
}
.header-text h2{
    margin-top: 20px;
    margin-left: 20px;
}
.header-text .animate{
    color: #e4e73e;
    font-size: 45px;
    font-weight: 600;

}
.header-text p{
    margin-top: 30px;
    font-size: 21px;
    margin-bottom: 30px;
}
.header-text button{
    background-color: #e43385;
    color: #ffffff;
    border:2px solid #e43385;
    border-radius: 10px !important;
}
.header-text button:hover{
    outline: none;
    border: 2px solid #e43385;
    background-color: transparent;
    transition: .5s all;
    
}
.header-text a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    font-size: 22px;
    font-weight: 550;
    letter-spacing: 1px;
}
.profile-img{
    position: relative;
    top: 55px;
}
/*============================ About Me=========================== */
.about-section{
    /* background-color: rgb(12, 12, 12); */
}
.about-img img{
    margin-top: 40px;
}
.about-details {
    position: relative;
    left: 40%;
    font-size: 45px;
    font-weight: 550;
    border-bottom: 3px solid #e43385;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
}
.about-text{
    margin-top: 20px;
    border: 4px solid;
    width: 30%;
    padding: 5px 20px;
    margin-bottom: 20px;
    position: relative;
}
.about-text::before {
    content: '';
    position: absolute;
    display: block;    
    width: 0px;        
    left: 20%;
    bottom: 2px;
    border: 12px solid transparent;
    border-bottom: 0;
    border-top: 12px solid #000000;
    transform: translate(-50%, calc(100% + 5px));
  }
  .about-self{
      height: 130px;
  }
.name-about,.phone-about,.email-about,.web-about{
    line-height: 19px;
}
.about-name,.about-phone,.about-email,.about-web{
    color: #e43385;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid;
    display: inline-block;
    padding-bottom: 7px;
}
.p-about{
    font-weight: 550;
    font-size: 22px;
}

.about-section hr{
    color: #000000;
    border-bottom: 2px solid #474343;
}
.here-btn{
    /* outline: none; */
    border: 3px solid #e43385;
    background-color: #e43385;
    transition: .5s all;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 10px !important;
}
.here-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: 550;
}
.here-btn a i{
    font-size: 16px;
    margin-left: 5px;
}
.here-btn:hover{
    outline: none;
    border: 3px solid #e43385;
    background-color: transparent;
    transition: .5s all;
    padding: 5px 15px;
    transition: .5s all;
    
}
.here-btn a:hover{
    text-decoration: none;
    color: #e43385;
    font-size: 25px;
    font-weight: 550;
}
.download2-btn{
    outline: none;
    border: 3px solid #e43385;
    background-color: transparent;
    transition: .5s all;
    padding: 5px 15px;
    border-radius: 10px !important;
}
.download2-btn a{
    text-decoration: none;
    color: #e43385;
    font-size: 25px;
    font-weight: 550;
}
.download2-btn a i{
    font-size: 16px;
    margin-left: 5px;
}
.download2-btn:hover{
    color: #e43385;
    background-color: #e43385;
    transition: all .5s;
}
.download2-btn a:hover{
    color: #ffffff;
}
/*==================== Services style =====================*/
.service-wrap{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
    border-radius: 12px;
    /* height: 400px; */
}
.service-wrap::before, .service-wrap::after{
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 200%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    /* background: #34495e; */
    background: #e43385;
}
.service-wrap::before{
    top: -47px;
    left: 80%;
}
.service-wrap:hover::before{
    left: -27px;
    opacity: 1;
}
.service-wrap::after{
    right: 80%;
    bottom: -37px;
}
.service-wrap:hover::after{
    right: -37px;
    opacity: 1;
}
.service-wrap:hover{
    color: white;
}
.service-icon i{
    font-size: 45px;
    /* margin-top: 20px; */
    margin-bottom: 35px;
    transition: all 0.5s;
    color: #e43385;
}
.service-wrap:hover .service-icon i{
    transform: rotate(360deg);
    color: white;
}
.service-wrap h3{
    font-size: 42px;
    font-weight: 550px;
}
/* ======================Skill Part Style ========================= */
.education-details{
    border-radius: 15px;
    box-shadow: 5px 10px 30px gray;
    margin-bottom: 25px;
    padding: 30px;
}
.education-details small{
    color: #e43385;
    font-weight: 550;
}
.education-details h3{
    font-weight: 550;
}
.education-details i{
    color: #e43385;
}
.education-details b{
    font-weight: 550;
}
.skill-part{
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0px 0px 60px rgba(128, 128, 128, 0.644);
    /* margin-top: 50px;  */
    margin-left: 40px;
}
.bar{
    margin: 20px 0;
     margin-bottom: 50px;
}
.bar:first-child{
    margin-top: 0px;
}
.bar .info{
    margin-bottom: 15px;

}
.bar .info span{
    font-size: 25px;
    font-weight: 550;
    
}

.bar .progress-line{
    position: relative;
    height: 12px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
    0px 1px rgba(255,255,255,0.8);
    border-radius: 12px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}


.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #e43385;
    position: absolute;
    border-radius: 12px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 0.5s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line.html span{
    width: 95%;
   }
   .progress-line.css span{
       width: 90%;
   }
   .progress-line.js span{
       width: 80%;
   }
   .progress-line.php span{
       width: 90%;
   }
   .progress-line.laravel span{
       width: 85%;
   }
   
   .progress-line.sql span{
       width: 93%;
   }

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 1;
    
}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -32px;
    font-size: 15px;
    font-weight: 550;
    color: #fff;
    background: #000;
    /* border: 2px solid;
    outline: none; */
    padding: 1px 9px;
    border-radius: 3px;
    opacity: 1;
    
}


.progress-line.html span::after{
 content: "95%";
}
.progress-line.css span::after{
    content: "90%";
}
.progress-line.js span::after{
    content: "80%";
}
.progress-line.php span::after{
    content: "90%";
}
.progress-line.laravel span::after{
    content: "85%";
}
.progress-line.sql span::after{
    content: "93%";
}
/* ================== Portfolio Section style ======================== */
.gallery-row{
    margin-right: 0;
    margin-left: 0;
}
.portfolio-nav{
    padding: 20px;
    width: 100%;
    margin: 40px auto;
}
.portfolio-nav ul{
    display: flex;
    margin-bottom: 10px;
}
.portfolio-nav ul li{
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 550;
}
.portfolio-nav ul li.active{
    background: #e43385;
    color: #ffffff;
}
.product{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.item-Box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}
.item-Box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===================== Counter Section ============ */

.counter-section{
    background-image: url(../img/counter-3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
}

.counter-area{
    height: 350px;
    width: 100%;
    flex-direction: column;
}
.counter-item{
    font-size: 60px;
    color: #e43385;
}
.counter-area h3{
    color: white;
    font-size: 45px;
}
span.counter{
    font-size: 60px;
    color: white;
    font-weight: 600;
}
.counter-area h5{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
/* =============================Testimonial Style ======================= */
.testimonial-area{
    margin: 30px 0px;
    height: 680px;
}
#slider{
    margin-top: 30px;
    margin-bottom: 40px;
    
}
.img-area{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.img-area img{
    width: 100%;
}
.content{
    text-align: center;
    padding: 35px;
    border-radius: 15px;
    
    border-right: 1px solid #e43385;
    border-left : 1px solid #e43385;
    
    /* margin: 0 10px; */
}
.socials i{
    position: relative;
    font-size: 25px;
    padding-left: 15px;
    color: #e43385;
    margin-top: 15px;
}
.testi-row{
    height: 250px;
    
}
.owl-dots{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 12px;
}
.owl-dot{
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: rgb(17, 17, 17) !important;
    opacity: .8;
    margin: 0 10px;
    border-radius: 50%;
}
button.owl-dot.active{
    background-color: #e43385 !important;
}

/* =======================> My Blogs <================== */

.blogs-section{
    margin-top: 20px;
    margin-bottom: 30px;
}

.myblogs-area{
    margin-top: 30px;
    border-radius: 20px;
}
.card{
    border-radius: 12px !important;
}

 .card-img{
    overflow: hidden;
    transition:  all 0.5s ease-in-out;
} 
.card-img-top:hover{
    transition: all 0.7s ease-in-out !important;
    transform: scale(1.2) rotate(7deg);
}

.myblogs-area .card-body{
    padding: 20px !important;
}
.myblogs-area .card-title h3{
    font-weight: 550;
    padding: 0 !important;
    margin: 0 !important;
}
.myblogs-area p{
    line-height: 22px;
}
.myblogs-area span{
    color: #e43385;
}
.myblogs-area .month,.comment{
    color: #e43385;
}
.button-section .see-more{
    outline: none;
    padding: 2px 12px;
    text-decoration: none;  
    border: 2px solid #e43385;  
    border-radius: 10px;
    /* background-color: #e43385; */
    color: #e43385;
    font-weight: 550;
}
a.see-more:hover {
    background-color: #e43385;
    color: #ffffff;
    transition: all 0.4s ease-in;
}
/* =================> Contact Section style <======================= */
.contact{
    
    width: 100%;
}
.form-control{
    border-radius: 20px !important;
    padding: 20px !important;
    border: none; 
    border-bottom: 2px solid #e43385;
    box-shadow: 5px 0px 20px rgba(3, 3, 3, 0.493);
}
.contact-form{
    margin-top: 50px;
    margin-left: 20px;
}
.contact-form h2{
    margin-bottom: 60px;
    text-align: center;
}
.contact-form h2::before{
    content: open-quote;
}
.contact-form h2::after{
    content: close-quote;
}
.name-form,.email-form,.subject-form{
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.message-form textarea{
    height: 250px;
}
.submit-btn{
    position: relative;
    text-decoration: none;
    top: 40px;
    border: 2px solid #e43385;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 25px;
    background-color: #e43385;
    color: #ffffff;
    font-weight: 600;
}


.my-contact-area{
    padding-left: 30px;
}
.home-area i,.icon-area i{
    font-size: 22px;
    color: #e43385;
    border: 1px solid #e43385;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 15px;
}


.img-my-area{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    
}
.img-my-area img{
    width: 100%;
}
.home,.call,.mail{
    font-weight: 600;
    border-bottom: 2px solid rgb(24, 23, 23);
    font-size: 22px;
    margin-right: 20px;
}
.mail{
    margin-bottom: 25px;
}
.span-text{
    font-size: 22px;
}

.map{
    margin-left: 40px;
}

/* ====================>>> Footer area <<<============================ */
.footer-area{
    /* background-color: #242222; */
    background-color: #474343;
    margin-top: 50px;
}
.footer-row{
    margin: 0px;
    padding: 20px;
}
.footer-title{
    font-size: 35px;
    color: #ffffff;
}
.work-with-me p{
    font-size: 20px;
    line-height: 22px;
    color: rgb(204, 194, 194);
    margin-bottom: 30px;
}
.footer-btn{
    text-decoration: none;
    padding: 5px 15px;
    border: 3px solid #cc4483;
    border-radius: 25px;
    background-color: #cc4483;
    color: white !important;
}
.social ul{
    display: inline;
    line-height: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}
.social ul li{
    list-style: none;
    font-size: 22px;
    color: rgb(204, 194, 194);
}
.social ul li i{
    font-size: 20px;
    color: #e43385;
    margin-right: 10px;
    padding: 10px 0px;
}
.legal-text{
    line-height: 20px;
}
.legal-text p{
    color: rgb(204, 194, 194);
    font-size: 20px;
}
.search-footer{
    display: flex;
    
    align-items: center;
}
.footer-input{
   padding: 10px !important;
   width: 80%;
}
.search-footer i{
    font-size: 25px;
    color: #e43385;
    margin-left: 20px;
}
.area-text-footer{
    color: rgb(204, 194, 194);
    line-height: 0px !important;
}





